@font-face {
    font-family: Japanese_3017;
    src: url("../../fonts/Japanese_3017.ttf")
}

.mainNavbar
{
    color: tomato;
    background:transparent;
    padding: 20px !important;
    font-family: Japanese_3017;
    display: flex;
    text-align: center;
}


.buttonHolder
{
    color: tomato;
}

.navbar-nav
{
    color: white;
}

#facePic
{
    max-height: 30%;
    max-width: 30%;
}

.navContainer
{
    margin: auto;
}

.faceHolder
{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.messageHolder
{
    margin: auto;
}

.logoHolder
{
    margin: auto;
}


