.registerContainer
{
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerTitle {
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    align-content: center;
    padding: 40px;
    margin: 0 1px;
    margin-bottom: 2px;
    border: 1px solid gray;
    border-right-color: #fff;
    border-bottom-color: #fff;
    box-sizing: border-box;
}

.inputField
{
    align-self: center;
    max-width: 200px;
    padding: 5px;
    margin-bottom: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C0C0C0;
    color: white;
    text-align: left;
    
    font-family: "MS Sans Serif";
   
   height: 45px;
    border-top-color: #FFFFFF;
    border-top-width: 3px;
    border-top-style: solid;
  }