body
{
   cursor: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/37157f4b-0230-4377-b100-67e78c5c369d/daxsosq-13b33868-cb89-48b7-a118-60c0aecf1cf6.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM3MTU3ZjRiLTAyMzAtNDM3Ny1iMTAwLTY3ZTc4YzVjMzY5ZFwvZGF4c29zcS0xM2IzMzg2OC1jYjg5LTQ4YjctYTExOC02MGMwYWVjZjFjZjYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mBIRB0GIjccA-cIUwJpWoCCFzBZsPZ3F8ZaOCJCcy3E"), default;
    background-position: center center;
    transition: background-image 10s ease-in-out;
    background: url("https://thumbs.gfycat.com/HarmoniousImpracticalBrant-size_restricted.gif");
    background-repeat: no-repeat;
    background-size: cover;

}

@font-face {
    font-family: HACKED;
    src: url("../../fonts/HACKED.ttf")
}


.pageContainer
{
   display: flex;
   flex-flow: column wrap;
   margin-top: 20px;
}

nav
{
   display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.searchCol
{
font-family:"MS Sans Serif";
    background: #C0C0C0;
    flex: 1;
    margin: 10px;
    height: 62vh;
    float: left;
    max-width: 40%;
    outline:1px solid #000000;
    background:#C0C0C0;
    border-width:7px;
    border-style:solid;
    border-color:#FFFFFF #808080;
}

.searchCriteria
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 !important;
    font: black;
    padding: 0 !important;
}

.searchCriteria > p  {
    border-width:10px ;
    border-style:solid;
    border-color: black; 
    background-color: black;
    min-width: 50%;
    color: black;
} 

.moodText {
    margin: 20px;
    
}

.resultsContainer {
color: black;
overflow-y: scroll;
overflow-x: scroll;
min-height: 300px;
max-height: 350px;
margin-bottom: 0;
}

.container.trackContainer {
    padding: 2px;
    margin: 0 1px;
    border: 1px solid gray;
    border-right-color: #fff;
    border-bottom-color: #fff;
    box-sizing: border-box;
    color: black;
    
} 

.trackContainer > img {
   padding: 10px !important;
    margin: 10px !important;

}

div.info {
    font-variant-caps: all-small-caps;
    padding: 2px;
    margin: 0 1px;
    border: 1px solid gray;
    border-right-color: #fff;
    border-bottom-color: #fff;
    box-sizing: border-box;
    color: black;
}

.button-default {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-size: 11px;
    font-family: Tahoma,Verdana,sans-serif;
    color: #070707;
    background: #bfbfbf;
    border: 1px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: gray;
    border-bottom-color: gray;
    box-shadow: 1px 1px 0 0 #000;
    margin: 3px;
    text-align: center;
    outline: none;
    padding: 4px;
}  

div.title{
    height:18px;
    width:100% !important;
    background:black;
    color:#FFF;
    background-origin: padding-box;
    box-sizing: border-box;
}
  
  h1.title{
    margin:2px 0 0 1px;
    float:left;
    font-family:Tahoma;
    font-weight:bold;
    font-size:11px;
    width: 100px;
    position: sticky;
}

.title > button{
  margin:2px 2px 2px 0;
  float:right;
  width:14px;
  height:13.5px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
}
  
div.content {
    padding: 3px;
    margin: 0 1px;
    border: 1px solid gray;
    border-right-color: #fff;
    border-bottom-color: #fff;
    box-sizing: border-box;
    height: 100px;
}

img {
     float: left;
}

.row {
  justify-content: space-evenly;
  clear: both;
  box-sizing: border-box;
}

.journalButtonHolder
{
    background: black;
    padding: 3px 10px;
    position: absolute;
    bottom: 0;
    min-width: 100%;
}

.journalButtonHolder > button
{
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-size: 15px;
    font-family: "MS Sans Serif";
    color: #070707;
    background: #bfbfbf;
    border: 2px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: rgb(34, 33, 33);
    border-bottom-color: rgb(34, 33, 33);
    box-shadow: 1px 1px 0 0 #000;
    margin: 0 auto;
    text-align: center;
    outline: none;
    padding: 4px;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C0C0C0;
    color: white;
    text-align: left;
    
    font-family: "MS Sans Serif";
   
   height: 45px;
    border-top-color: #FFFFFF;
    border-top-width: 3px;
    border-top-style: solid;
  }

a {
    text-decoration: none;
    color: black;
}

.icon2 {
    float: right;
   clear: both;
   position: relative; z-index: 900; left: -120.156px; top: -60px;


}


.button-default2 {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-size: 15px;
    font-family: "MS Sans Serif";
    color: #070707;
    background: #bfbfbf;
  
    margin: 6px;
    text-align: center;
    outline: none;
    padding: 4px;
   font-weight: bold;
   float: right;

   
   border: 1px solid gray;
   border-right-color: #fff;
   border-bottom-color: #fff;
   box-sizing: border-box;
}  

.journalCol
{
    font-family:"MS Sans Serif";
    background: #C0C0C0;
    flex: 1;
    margin: 10px;
    float: left;
    max-width: 40%;
    outline:1px solid #000000;
    background:#C0C0C0;
    border-width:7px;
    border-style:solid;
    border-color:#FFFFFF #808080;
    position: relative;
}

#root > div > div > div.row > div.journalCol > div > div
{
    margin: 0;
    padding: 0;
}

#cdIcon
{
    height: 75% !important;
    width: 75% !important;
    position: relative; 
    left: 13%;
}

.searchFormContainer
{
    padding: 20px;
    border-bottom: 1px solid gray;
}

.archivesHolder
{
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

@media (max-width: 1499px)
{
    .resultsContainer {
        max-height: 300px;
    }
}

